*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image{
    background: url(/Resources/imagenes/Classroom1.jpg) no-repeat center ; /*#e8f5e9;  Fondo verde claro */
    background-size: cover;
    filter: blur(2px);
    height: 100vh;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    background: #5e9e60;
    position: fixed;
    width: 100%;
    z-index: 100;
}

/* Estilo general del header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; /* Centrado del contenido */
    height: 100vh !important;
    width: 100vw !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
}

.loguito{
    height: 6vh;
    width: 10vw;
    margin-left: 1vw;
}

.navbar {
    background-color: #5e9e60; 
    overflow: hidden; /* Evita que los elementos se salgan del contenedor */
    display: flex;
    margin-right: 1vw;
    text-transform: uppercase;

}

.navbar a {
    float: left; /* Alinear a la izquierda */
    display: block; /* Mostrar como bloque para ocupar todo el espacio */
    color: white; 
    text-align: center; /* Centrar texto en los enlaces */
    padding: 19px 20px; /* Espaciado interno de los enlaces */
    margin-right: 3vw;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a:hover {
    background-color: #509653; 
}

.titulo {
    font-size: 60px;
    color: #ffffff; 
    margin-left: 50px;
    background: #4a8c4a;
    margin-bottom: 2vh;
    padding-left: 30px;
    border-radius: 5vh 0px 0px 5vh;

}

.header p {
    font-size: 2vh;
    color: #ffffff; 
    text-align: center;
    background: #4a8c4ad2;
    margin-left: 3vw;
    width: 65vw;
    margin-bottom: 55vh;
    border-radius: 5vh 0 0 5vh ;
    height: 4vh;
    overflow: hidden;
    padding: 19px 20px; 
}

/* Estilo del botón en el header */
.btn-home .btn {
    background-color: #4caf50; /* Verde brillante para el botón */
    color: white; /* Texto blanco en el botón */
    margin: 50px;
    padding: 10px 15px; /* Espaciado interno del botón */
    border-radius: 4px; /* Bordes redondeados en el botón */
    text-decoration: none; /* Sin subrayado en el botón */
}

.btn-home .btn:hover {
    background-color: #45a049; 
}


.form {
    background-color: #f9f9f9; /* Fondo claro para contraste */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    max-width: 30%; /* Ancho máximo del formulario */
    margin: 50px auto; /* Centrado en la página */
    margin-top: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 35%;
    height: 75%;
    margin-right: 50px;
    
}

/* Estilo del título */
.form h3 {
    color: #5e9e60; /* Color verde oscuro */
    text-align: center; /* Centrado del texto */
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
    text-transform: uppercase;
    
}

/* Estilo de las etiquetas */
label {
    align-self: flex-start;
    display: flex; /* Para que cada etiqueta ocupe toda la línea */
    margin-bottom: 5px; /* Espaciado inferior */
    margin-top: 5px;
    color: #4a8c4a; /* Color verde medio */
}

/* Estilo de los campos de entrada */
input[type="email"],input[type="text"],input[type="date"],input[type="number"],
input[type="password"] {
    
    width: 95%; /* Ocupa todo el ancho disponible */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 1vh; /* Espaciado inferior entre campos */
    border: 1px solid #b2e0b2; /* Borde verde claro */
    border-radius: 4px; /* Bordes redondeados en los campos */
    font-size: 14px; /* Tamaño de fuente legible */
    color: #4a8c4a;

}

.opciones {
    display: flex;
    flex-direction: row;
}

label {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
}

input:focus {
    border-color: #498f3b;
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: 0 0 5px rgba(84, 139, 63, 0.651); /* Efecto de sombra */
}


input[type="button"]{
    align-self: center;
    background-color: #4caf50;
    color: white; 
    padding: 15px 20px; /* Espaciado interno del botón */
    margin-left: 10%;
    margin-top: 5%;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente legible en el botón */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.radio {
    margin-top: 1vh;
    margin-bottom:25vh;
}


input[type="submit"]:hover, input[type="button"]:hover  {
    background-color: #45a049; 
}



